<!-- common error handling -->
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= @user.errors.count %> 
        <% t(:errors_prohibited_this_user_from_being_saved) %></h2>
    <p><% t(:problems_with_following_fields)%> :</p>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
